body{margin: 0;
padding: 0;}

header.inicio{display: flex;
background-image: url(./img/ps.jpg);
width: 100%;
height: 80px;
background-repeat: no-repeat;
background-size: cover;
align-items: center;
justify-content: center;}

h1.loja{color: white;
margin: 0;
font-family: DotGothic16;
font-size: 50px;}

nav {display: flex;
background-color: yellow;
width: 100%;
height: 50px;
font-family: Caveat;
font-size: 2rem;
justify-content: space-around;
}



a.nac{text-decoration: none;
color: black;}

#itens{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
;}

div.produto{margin: 30px;
    border: 10px solid white;}

div.produto:hover{border: 10px solid red;
transition: 0.5s;}

div.nomedojogo{font-weight: bolder;
text-align: center;}

.capadojogo{width: 200px;
height: 200px;}


            div.ftt{font-family: Caveat;
            font-size: 1.7rem;
            display: flex;
            flex-direction: column;}

            footer#ft{background-color: yellow;
            width: 100%;
        height: 110px;}

    